*{
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: 'Spartan', serif;

}


body .slider {
    border: 2px dashed red;
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

  
body .slider .slide {
    border: 2px dashed blue;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
  
body .slider .slide:nth-child(1) {
    background-image: url(img/maleglowna.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
  
body .slider .slide:nth-child(2) {
    background-color: #1d1d1d;
}
  
body .slider .slide:nth-child(3) {
    background-color: #1d1d1d;
}
  
body .slider .slide:nth-child(4) {
    background-color: #1d1d1d;
}

body .slider .slide:nth-child(5) {
    background-color: #1d1d1d;
}

body .slider .slide:nth-child(6) {
    background-color: #1d1d1d;
}


body .slider p{
    font-family: 'Qwigley', cursive;
    color: white;
    font-size: 10em;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
}   

body .slider .slide p{
    font-family: 'Qwigley', cursive;
    color: rgba(247, 216, 81, 0.753);
    font-size: 10em;
    margin: 0%;
    margin-bottom: 2%;
}

body .slider .slide a{
    font-family: 'Spartan', serif;
    color: white;
    font-size: 13px;
    text-decoration: none;
}
  
body .slider .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

  
body .slider .dots div {
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

body nav {
    display: flex;
    justify-content: flex-end;
    border: 2px dashed blue;
    position: sticky;
    top: 0;
    background-color: rgba(247, 216, 81, 0.753);
    color: white;
    text-decoration: none;
}
  
body nav div {
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    border: green;
}

body nav .menu{
    border: 2px solid green;
    background-color: rgba(247, 216, 81, 0.753);
}


  
body section{
    height: 100vh;
    background-color: #1d1d1d;
}


header .first-site{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1d1d1d;



}
header .first-site .first-item{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 9%;
    flex: 2;
    font-size: 0.6em;
}
header .first-site .first-item h3{
    font-family: 'Qwigley', cursive;
    font-size: 4em;
    color: rgba(247, 216, 81, 0.753);
    margin-bottom: 0;
    line-height: 150%;
}

header .first-site .first-item p{
    color: white;
    font-family: 'Spartan',serif;
    font-size: 1.2em;
}

header .first-site .first-img{
    text-align: right;
}

header .first-site img{
    max-width:70%;
    max-height: 100vh;
    border-radius: 50%;
    border: 2px solid rgba(247, 216, 81, 0.753);
}


/*
header .Menu{
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    position: sticky;
    width: 60%;
    right: 3%;
    margin-top: 2%; 
}

.Menu a{
    text-decoration: none;
    padding: 2%;
    justify-content: right;
}


.first-site img{
    background-image: url(img/glowna.jpg);
    width: 100%;
    margin-top: 0;
}

.second-site{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}*/