*{
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: 'Thasadith', sans-serif;

}
  
body .slider {
    border: 2px dashed red;
    background-color: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

  
body .slider .slide {
    border: 2px dashed blue;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
  
body .slider .slide:nth-child(1) {
    background-image: url(img/glowna.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
  
body .slider .slide:nth-child(2) {
    background-color: #1d1d1d;
}
  
body .slider .slide:nth-child(3) {
    background-color: #1d1d1d;
}
  
body .slider .slide:nth-child(4) {
    background-color: #1d1d1d;
}

body .slider .slide:nth-child(5) {
    background-color: #1d1d1d;
}

body .slider .slide:nth-child(6) {
    background-color: #1d1d1d;
}

body .slider .slide p{
    font-family: 'Kaushan Script', cursive;
    color:white;
    
    font-size:5em;
    margin: 0%;
    margin-bottom: 2%;
}

body .slider .slide a{
    font-family: 'Thasadith';
    color:rgba(148, 138, 97, 0.788);
    text-decoration: none;
}
  
body .slider .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}
  
body .slider .dots div {
    background-color: red;
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
  
body nav {
    display: flex;
    justify-content: flex-end;
    border: 2px dashed blue;
    position: sticky;
    top: 0;
    background-color: rgba(148, 138, 97, 0.589);
    color: white;
}
  
body nav div {
    border: 2px dashed red;
    justify-content: flex-end;
    
}
  
body section {
    height: 100vh;
    background-color: #1d1d1d;
    border: 2px dashed green;
}


header .first-site{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 248, 250, 0.692);
    min-height: 100vh;
    margin: 0;
}
header .first-site .first-item{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 9%;
    flex: 2;
    font-size: 0.6em;
}
header .first-site .first-item h2{
    font-size: 3em;
    color: rgb(90, 78, 78);
    margin-bottom: 0;
    line-height: 150%;
}

header .first-site .first-img{
    text-align: right;
}

header .first-site img{
    max-width:100%;
    max-height: 100vh;
    /*float: right;*/
}


/*
header .Menu{
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    position: sticky;
    width: 60%;
    right: 3%;
    margin-top: 2%; 
}

.Menu a{
    text-decoration: none;
    padding: 2%;
    justify-content: right;
}


.first-site img{
    background-image: url(img/glowna.jpg);
    width: 100%;
    margin-top: 0;
}

.second-site{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}*/